:root {
  --main-bg-color: #DA6A00;
  --secondary-bg-color: #6DBB8F;
  --icons-colors: #2a6ee5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: var(--main-bg-color);
}

header {
background-color: #6DBB8F;
}

.browse-recipe {
  height: 30vh;
}

.dropdown-menu {
 background: transparent;
 border: 0;
}

.dropdown-menu-light:hover d{
  background-color: transparent;
}

/* index.html css changes - start */
main {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.car-bg {
  background: #F2F4F8;
}

.btn-color {
  background: #D50B0B;
}
/* index.html css changes - end */

footer {
    background-color: #6DBB8F;
}


