:root {
  --main-bg-color: #DA6A00;
  --secondary-bg-color: #6DBB8F;
  --icons-colors: #2a6ee5;
}

header {
background-color: #6DBB8F;
}

.dropdown-menu {
 background: transparent;
 border: 0;
}

.dropdown-menu-light:hover d{
  background-color: transparent;
}

main {
    background-color: #DA6A00;
    height: 70ch;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #6DBB8F;
}


